In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv("Coursera_cleaned.csv", index_col=0)
df.head()

,Course Name,Course Rating,Info
0,Write A Feature Length Screenplay For Film Or ...,4.8,BeginnerWrite a Full Length Feature Film Scrip...
1,Business Strategy: Business Model Canvas Analy...,4.8,"BeginnerBy the end of this guided project, you..."
2,Silicon Thin Film Solar Cells,4.1,AdvancedThis course consists of a general pres...
3,Finance for Managers,4.8,"IntermediateWhen it comes to numbers, there is..."
4,Retrieve Data using Single-Table SQL Queries,4.6,BeginnerIn this course you�ll learn how to eff...

In [6]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Extract features from the text using TF-IDF vectorization
vectorizer = TfidfVectorizer()
text_features = vectorizer.fit_transform(df['Info'])

# Compute the cosine similarity matrix
cosine_similarities = cosine_similarity(text_features)

In [11]:
cosine_similarities.shape

(3522, 3522)

In [13]:
# make consinde_similarities a dataframe
cosine_similarities = pd.DataFrame(cosine_similarities, index=df['Course Name'], columns=df['Course Name'])
cosine_similarities.head()
cosine_similarities.to_csv('cosine_similarities.csv')